.wapper{
    margin-top: 2.5rem;
    border: 1px solid #b89823a6;
    border-radius: 1rem;
    color: whitesmoke;
}

.cinema{
    margin-top: 1rem;
}

.cinema_img{
    margin-left: 0.5rem;
}

.cinema_img img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: contain;
}

.theater{
    display: inline-block;
    border: 1px solid red;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.theater button{
    margin-top: 1rem;
}