.form{
    width: 90%;
    margin-left: 2rem;
    color: whitesmoke;
    display: inline-block;
}

.flags_select button{
    color: whitesmoke;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid #D4AF37;
    background: rgba(86, 101, 115, 0.2);
}

.form input,
.form select{
    background-color: transparent;
    border: 1px solid #D4AF37;
    color: whitesmoke;
}

.form input:focus{
    background-color: transparent;
    caret-color: #D4AF37;
    color: whitesmoke;
}

.form input::placeholder{
    color: rgb(245, 245, 245,0.6);
}

.form select option{
    background-color: black;
}

.creditCard{
    background-color: rgba(35, 33, 33, 0.69);
    color: whitesmoke;
    border: 1px solid #D4AF37;
}
/* 
@media (max-width: 1312px){
    .form{
        width: 45rem;
    }
}

@media (max-width: 1200px){
    .form{
        width: 40rem;
    }
}

@media (max-width: 1120px){
    .form{
        width: 38rem;
    }
}

@media (max-width: 1088px){
    .form{
        width: 36rem;
    }
}

@media (max-width: 1056px) and (min-width: 992px){
    .form{
        width: 32rem;
    }
} */