.headder,
.date,
.success h1 span,
.ticket{
    color: whitesmoke;
}

.ticket{
    border: 1px solid rgba(198, 198, 198, 0.536);
}

.headder{
    text-align: center;
    margin-top: 2rem;
}

.date{
    width: 80rem;
}

.date p{
    text-align: end;
}

.success{
    display: flex;
    border: 1px solid green;
    width: 80rem;
    height: 5rem;
    align-items: center;
    
}

.success h1{
    margin-left: 1.5rem;
}

.first_row{
    margin-top: 1rem;
}

.date_time{
    text-align: end;
    margin-right: 1rem;
}

.movie_name{
    margin: 1rem 0 1rem 1rem;
}

.ticket{
    margin-top: 2rem;
    width: 80rem;
    margin-bottom: 2rem;
}

.ticket_details p{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.ticket_details h4{
    margin-left: 1rem;
}

.ticket_details span{
    color: #D4AF37;
    margin-left: 0.5rem;
}

.hr_style{
    border-top: 2px solid white;
    background-color: transparent;
}

.hr_style_dotted{
    border-top: 2px dashed white;
    background-color: transparent;
}

.order_summary h4{
    margin-left: 1rem;
}

.fee{
    padding-left: 8rem;
}

.fee_price{
    text-align: end;
    padding-right: 10rem;
}

.extra_fee{
    height: 20px;
}

.note h4,
.note p{
    margin-left: 1rem;
}

.note h4{
    margin-bottom: 1.5rem;
}
