:root{
    --text-color : rgb(202, 207, 210);
}

.navbar{
    background-color: #092635;
    border-bottom: 1px solid rgba(76, 80, 84, 0.536);
}

.navbar_hide{
    top: -80px;
}

.nav_logo{
    width: 13rem;
    height: 2.5rem;
    margin: 0 3rem;
}

.nav_link{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    text-decoration: none;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    top: 0.5rem;
}

.nav_link:hover{
    color: white;
}

@media screen and (max-width : 991px) {

    .nav_link_holder{
        position: relative;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .nav_link{
        padding-left: 0;
        padding-right: 0;
    }
}

.person{
    font-size: x-large;
    color: rgb(202, 207, 210);
}

.person:hover{
    color: white;
}

.buger_btn{
    background-color: rgb(202, 207, 210);
}

.buger_btn:hover{
    background-color: white;
}

