:root{
    --fs-header : 1.7rem;
    --fs-title : 1.5rem;
    --fs-info : 1rem;
    --fs-bookseat : 1rem;
}

.summary_container{
    height: fit-content;
    padding: 0;
    position: sticky;
    top: 1vw;
}

.summary{
    width: 95%;
    vertical-align: top;
    color: whitesmoke;
}

.wapper{
    border: 1px solid #D4AF37;
    border-radius: 1.5vw;
    width: 100%;
    overflow: hidden;
}

.poster{
    width: 10vw;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center;
    margin: 1vw;
    border-radius: 1vw;
}

.movie_details{
    margin-top: 1vw;
    width: 55%;
}

.movie_details h5{
    font-size: var(--fs-title);
    margin-bottom: 1vw;
}

.movie_info{
    font-size: var(--fs-info);
    margin-top: 1vw;
}

.movie_info svg{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: .5vw;
}

.show_details{
    width: auto;
}

.show_time_place{
    display: flex;
    font-size: var(--fs-bookseat);
    justify-content: center;
    align-items: center;
    margin: 0;
}

.show_details_time{
    display: flex;
    font-size: var(--fs-bookseat);
    flex-direction: column;
    align-items: center;
    color: #D4AF37;
    margin: 0;
}

.bookseat_header{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.bookseat_header h5{
    font-size: var(--fs-title);
}

.bookseat,
.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
}

.bookseat p,
.total p{
    font-size: var(--fs-bookseat);
    margin-bottom: 0;
}

.hr{
    width: 90%;
    margin: auto;
}

.total h5{
    font-size: var(--fs-title);
}

.total{
    margin: 1vw 0;
}

.accordion div{
    border: none;
}

.accordion_header{
    border-top: thin solid whitesmoke;
}

.accordion_body {
    background-color: black;
}

.accordion_header button{
    font-size: var(--fs-bookseat);
}

.accordion_header button::after{
    width: 1.5vw;
    height: 1.5vw;
    background-size: 1.5vw;
    background-color: #e2ad00;
}

.accordion_header button:not(.collapsed) {
    color: whitesmoke;
    background-color: black;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.input{
    width: 95%;
    height: 3vw;
    margin: auto;
}

.input,
.input:focus{
    background-color: transparent;
    color: whitesmoke;
    border-color: #D4AF37;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.input::placeholder{
    font-size: var(--fs-bookseat);
    color: rgba(245, 245, 245, 0.801);
}

.use_btn{
    margin: 2vw 28% 0;
}

.use_btn{
    background-color: #b89723;
    width: 10vw;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    color: black;
    font-weight: 600;
    font-size: var(--fs-bookseat);
    padding: .5vw 1vw;
}

.use_btn:hover,
.use_btn:focus{
    background-color: #D4AF37;
    border-color: #c4a130;
    color: whitesmoke;
    box-shadow: none;
}

.use_btn:disabled,
.use_btn[disabled]{
    background-color: #866f23;
    color: rgb(41, 41, 41);
    border: none;
}

@media(max-width: 992px) {
    :root{
        --fs-header : 1.5rem;
        --fs-title : 1.2rem;
        --fs-info : .7rem;
        --fs-bookseat : .7rem;
    }
}

@media(max-width: 840px) {
    :root{
        --fs-header : 1.2rem;
        --fs-title : 1rem;
        --fs-info : .5rem;
        --fs-bookseat : .5rem;
    }
}

@media(max-width: 620px) {
    :root{
        --fs-title : 2vw;
        --fs-info : 1vw;
        --fs-bookseat : 1.5vw;
    }
}

@media(max-width: 575px) {
    .summary{
        width: 90%;
        margin-left: auto;
    }
}
