.seat img{
    width: 2.5vw;
    cursor: pointer;
}

.seat{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

@media (max-width: 575px){
    .seat img{
        width: 3.2vw;
    }
}