:root{
    --fs-bookseat : 1rem;
}

.wapper{
    width: 100%;
}

.screen{
    width: 100%;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
    padding: auto;
    text-align: center;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: x-large;
}

.alphabet_left{
    float: left;
    color: whitesmoke;
}

.alphabet_right{
    float: right;
    color: whitesmoke;
}

.alphabet_right p,
.alphabet_left p{
    height: 3.5vw;
    margin: 0;
    font-size: 1.5vw;
}

.seat_types{
    display: flex;
    justify-content: center;
}

.seat_type{
    width: 13vw;
    height: 10vw;
    font-size: var(--fs-bookseat);
    display: inline-block;
    color: whitesmoke;
    border: 1px solid #D4AF37;
    border-radius: 2.5vw;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.seat_type img{
    width: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

@media(max-width: 992px) {
    :root{
        --fs-bookseat : .7rem;
    }
}

@media(max-width: 840px) {
    :root{
        --fs-bookseat : .5rem;
    }
}

@media(max-width: 620px) {
    :root{
        --fs-bookseat : 1.5vw;
    }
}

@media (max-width: 575px){
    .wapper{
        padding: 0;
    }
    .seat img{
        width: 3.2vw;
    }
    .alphabet_right p,
    .alphabet_left p{
        height: 4.2vw;
        font-size: 2.2vw;
    }
}