.background{
    width: 100%;
    height: 30vw;
    position: relative;
}

.background_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.movie_container{
    /* position: relative; */
    /* top: -2vw; */
    height: 20vw;
}

.movie_image_con{
    position: relative;
    top: -7vw;
}

.movie_image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 7/10;
    box-shadow: 2px 3px 20px #1f1f1f;
}

.movie_title{
    color: #ffff;
}

.movie_release_date{
    color: gold;
    margin-top: 1vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.btn_group{
    padding: 2vw 1vw;
    margin-bottom: 3vw;
}

.btn{
    cursor: pointer;
    font-size: 1.2rem;
    color: #979797;
}

.btn:hover{
    color: #ffff;
}

.active{
    color: #ffff;
}