.show_time_container{
    width: 100%;
    height: fit-content;
}

.show_cinema{
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    color: blueviolet;
    border-bottom: 0.5px solid gray;
}

.arrow{
    padding-right: 1vw;
    color: white;
    cursor: pointer;
}

.show_theater{
    padding: 2vw 1vw 0 1vw;
    font-size: 1.5vw;
    color: white;
}

.show_time{
    display: grid;
    gap: 2vw;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
}

.time{
    font-size: 1vw;
    font-weight: bold;
    padding: .5vw 1vw;
    cursor: pointer;
    border-radius: .5vw;
    text-align: center;
    background-color: goldenrod;
    color: rgb(0, 0, 0);
}

.accordion{
    opacity: 0;
    height: 0;
}