.show_time{
    height: fit-content;
    color: whitesmoke;
    line-height: .5rem;
    padding: .5rem 1rem;
    border: thin solid whitesmoke;
    border-radius: 1rem;
}

.time_over{
    color: rgba(173, 173, 173, 0.877);
}

.show_time svg{
    cursor: pointer;
}