.nowShowing{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 3px 8px #808B96;
    background-color: #030637;
}

.nowShowing:hover{
    transform: scale(1.01);
    box-shadow: 3px 4px 8px #808B96;
}