.modal > div > div{
    background-color: #000000;
    border-radius: 0.3rem;
    color: rgb(219, 219, 219);
    border: 1px solid rgba(109, 109, 109, 0.863);
}

.header{
    border-bottom: thin solid rgba(109, 109, 109, 0.863);
}

.header > button{
    background-color: rgb(219, 219, 219);
}

.footer{
    border-top: none;
}